body {
  background-color: rgb(20, 20, 20);
  overflow-x: hidden;
  width: 100vw;
  position: relative;
}

.navbar-nav {
  color: #fff;
}

.netflix-pl {
  padding-left: 10px;
}
.netflix-pr {
  padding-right: 10px;
}

.netflix-navbar {
  width: 100vw;
  transition: background 0.2s linear;
  padding-top: 20px;
}

.navbar-brand img {
  width: 100px;
}

.netflix-dropdown-box {
  display: none;
}

.netflix-row {
  width: 100%;
  display: flex;
  justify-content: space-between !important;
  align-items: center;
}

.netflix-row .left {
  width: max-content;
}
.netflix-row .right {
  width: max-content;
}

.netflix-dropdown {
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 9px;
}

.netflix-dropdown-box .dropdown-menu {
  background-color: rgb(0, 0, 0, 0.8);
  font-size: 9px !important;
  color: #fff !important;
  margin-left: -80px;
  border-top: 3px solid #fff;
  margin-top: 30px;
}

.netflix-dropdown-box .dropdown-menu .dropdown-item {
  color: rgba(255, 255, 255, 0.769);
  text-align: center;
  width: 250px;
  font-size: 15px;
  padding: 10px 20px;
}

.netflix-dropdown-box .dropdown-menu .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.netflix-nav {
  display: block;
  align-items: center;
}

.netflix-nav button {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  border: none;
  font-size: 13px;
}

.netflix-nav button:hover {
  color: #fff;
}

i {
  font-size: 20px;
  color: #fff;
  padding: 0 10px;
}

.kids-text {
  color: #fff;
  font-size: 12px;
  padding: 15px;
}

.avatar {
  width: 30px;
  height: 30px;
  margin-left: 15px;
  cursor: pointer;
  margin-top: 15px;
}

.avatar-dropdown {
  background-color: transparent;
  color: #fff;
  padding-left: 0px;
  border: none;
}

.avatar-dropdown-box .dropdown-menu {
  background-color: rgb(0, 0, 0, 0.8);
  font-size: 9px !important;
  color: #fff !important;
  margin-left: -80px;
  margin-top: 30px;
}

.avatar-dropdown-box .dropdown-menu .dropdown-item {
  color: rgba(255, 255, 255, 0.769);
  text-align: left;
  width: 200px;
  font-size: 15px;
  padding: 10px 20;
}

.welcome {
  color: #fff;
  margin-left: 60px;
}

.tv-shows {
  font-weight: 450;
  font-size: 35px;
  margin-left: -40px;
}

.genres-dropdown {
  background-color: transparent;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 5px 20px;
  font-size: 15px;
  font-weight: 500;
  margin-left: 25px;
}

.genres-dropdown-box .dropdown-menu {
  background-color: rgb(0, 0, 0, 0.8);
  font-size: 9px !important;
  color: #fff !important;
  margin-left: -80px;
  border-top: 3px solid #fff;
  margin-top: 30px;
}

.genres-dropdown-box .dropdown-menu .dropdown-item {
  color: rgba(255, 255, 255, 0.769);
  text-align: center;
  width: 250px;
  font-size: 15px;
  padding: 10px 20px;
}

.genres-dropdown-box .dropdown-menu .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.slider-text {
  font-size: 30px;
  font-weight: 600;
}

.genre-details {
  margin-left: 2.5em;
  padding: 1em;
  align-items: center;
  justify-content: space-between;
}

.btn {
  border-radius: 0;
}
.genre-button {
  margin-left: 4em;
}

.align-grid-btn {
  margin-left: 37em;
}
.movie-row {
  margin-top: 20px;
  margin-bottom: 50px;
}

.movie-cover {
  width: 100%;
  transition: 0.3s;
  opacity: 0.7;
}

.movie-cover:hover {
  opacity: 1;
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.05);
}

.carousel-control-next {
  margin-right: -100px;
  margin-bottom: 35px;
}

.carousel-control-prev {
  margin-left: -100px;
  margin-bottom: 35px;
}

@media (max-width: 767px) {
  .netflix-pl {
    padding-left: 10px !important;
  }
  .netflix-pr {
    padding-right: 10px !important;
  }
  .navbar-brand img {
    width: 43px !important;
  }

  .avatar-dropdown {
    background-color: transparent;
    color: #fff;
    padding-left: 0px;
  }

  .avatar-dropdown-box .dropdown-menu {
    background-color: rgb(0, 0, 0, 0.8);
    font-size: 9px !important;
    color: #fff !important;
    margin-left: -80px;
    margin-top: 30px;
  }
  .netflix-dropdown-box {
    display: block;
  }

  .netflix-nav {
    display: none !important;
  }

  .tv-shows {
    font-size: 17px;
    margin-left: -45px;
  }

  .genres-dropdown {
    font-size: 10px;
    padding: 5px 10px;
  }

  .empty-square {
    display: none;
  }

  .tv-shows,
  .genres-dropdown {
    display: none;
  }

  .align-grid-box {
    display: none !important;
  }
}
